// BUTTONS //


  .btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
    @each $btn-type, $btn-type-color in $btn-bg-color-set {
      &.#{$btn-type} {
        background-color: $btn-type-color;
        &:hover {
          background-color: lighten($btn-type-color, 15%);
          color: #000;
        }
      }
    }
  }